body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 50px;
}

.card-header {
    background-color: rgb(171, 151, 190);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: large;
    text-align: center;
    color: white;
}

.form-group {
    margin-bottom: 20px;
}

.radio-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: rgb(171, 151, 190);
    border-color: rgb(171, 151, 190);
}
input[type="submit"]:hover {
    background-color: #502061;
    border-color: #c7b0d6;
}

h1{
    color:#502061;
}